<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置别名-->
    <typeAliases>
        <package name="com.tl.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/tl/dao/BooksMapper.xml"/>
    </mappers>
</configuration>
